<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pogodavtomske"
          android:versionCode="3"
          android:versionName="1.0.3">
    <application android:label="@string/app_name"
                 android:icon="@drawable/logo"
            >

        <activity android:name=".WeatherActivity"
                  android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="com.pogodavtomske.WeatherService.ActionCurrentWeather"/>
                <action android:name="com.pogodavtomske.WeatherService.ActionForecastWeather"/>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Preferences"
                android:label="@string/preferences_title">
        </activity>

        <service android:enabled="true" android:name=".WeatherService"/>

        <receiver android:name=".WeatherWidgetProvider" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.pogodavtomske.WeatherService.ActionCurrentWeather"/>
                <action android:name="com.pogodavtomske.WeatherService.ActionErrorWeather"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_widget_provider_info"/>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="8"/>
</manifest> 
